.contact-wrapper {
  position: relative; }

.contact {
  padding: 100px 0;
  background: url(../images/design.jpg) fixed center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }
  .contact h1 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px; }
  .contact p {
    font-size: 15px;
    line-height: 30px;
    color: #7f7f7f;
    width: 45%;
    margin-bottom: 15px; }
  .contact .copy-right {
    font-size: 15px;
    color: #424242;
    margin-bottom: 0; }
    .contact .copy-right span {
      color: #ff415c;
      font-size: 15px;
      margin: 0 5px; }
